@inherits SvtInput
<p>
    <label>
        @Title
    </label>

    <InputSelect ValueExpression="@(() => Value)"
                 Value="@Value"
                 ValueChanged="@(async (int value) => await OnValueChanged(value))"
                 disabled="@Disabled"
                 class="@CssClass">

        @foreach (var item in Items)
        {
            <option value="@item.Value">@item.Text</option>
        }

    </InputSelect>

</p>