@inherits SvtInput
<p>
    <label>
        @Title
    </label>

    <InputText ValueExpression="@(() => Value)"
               Value="@Value"
               ValueChanged="@(async (value) => await OnValueChanged(value))"
               disabled="@Disabled"
               class="@CssClass">
    </InputText>

</p>