@page "/rates"
@using RatesServices
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Справочник ставок</PageTitle>

<h1>Справочник ставок</h1>

@if (_rates == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Дата начала</th>
                <th>Дата окончания</th>
                <th>Код узла отправления</th>
                <th>Узел отправления</th>
                <th>Код узла назначения</th>
                <th>Узел назначения</th>
                <th>Стоимость</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rate in _rates)
            {
                <tr>
                    <td>@rate.RateId</td>
                    <td>@rate.StartDate.ToShortDateString()</td>
                    <td>@rate.EndDate.ToShortDateString()</td>
                    <td>@rate.NodeFrom?.Code</td>
                    <td>@rate.NodeFrom?.Name</td>
                    <td>@rate.NodeTo?.Code</td>
                    <td>@rate.NodeTo?.Name</td>
                    <td>@rate.Value</td>
                </tr>
            }
        </tbody>
    </table>

    @for (int i = 1; i <= 1 + _rateCount / PageSize; i++)
    {       
        var pageNumber = i;
       
        if (pageNumber <= 2 || pageNumber >= _rateCount / PageSize || Math.Abs(_currentPageNumber - pageNumber) < 5)
        {
            _skipped = false;
            var btnClass = pageNumber == _currentPageNumber
               ? "btn btn-primary"
               : "btn";

            <button class="@btnClass" @onclick="@(e=>PageSelected(pageNumber))">
                @pageNumber
            </button>
        }else if (!_skipped)
        {
            _skipped = true;
            <span>...</span>
        }
    }
}
