@page "/rates"
@using RatesServices
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Справочник ставок</PageTitle>

<h1>Справочник ставок</h1>

@if (rates == null)
{
    <p><em>Loading...</em></p>
}
else
{


    @for (int i = 1; i < 10; i++)
    {
        var buttonNumber = i;
        <button class="btn btn-primary" @onclick="@(e=>PageSelected(buttonNumber))">@buttonNumber</button>
    }

    

   
    <table class="table">
        <thead>
            <tr>
                <th>RateId</th>
                <th>StartDate</th>
                <th>NodeFrom Code</th>
                <th>NodeFrom Name</th>
                <th>NodeTo Code</th>
                <th>NodeTo Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rate in rates)
            {
                <tr>
                    <td>@rate.RateId</td>
                    <td>@rate.StartDate.ToShortDateString()</td>
                    <td>@rate.EndDate.ToShortDateString()</td>
                    <td>@rate.NodeFrom?.LocationNodeCode</td>
                    <td>@rate.NodeFrom?.LocationNodeName</td>
                    <td>@rate.NodeTo?.LocationNodeCode</td>
                    <td>@rate.NodeTo?.LocationNodeName</td>
                    <td>@rate.Value</td>
                </tr>
            }
        </tbody>
    </table>

}
