@page "/rates"
@using RatesServices
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Справочник ставок</PageTitle>

<h1>Справочник ставок</h1>

@if (_rates == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <table class="table">
        <thead>
            <tr>
                <th>RateId</th>
                <th>StartDate</th>
                <th>NodeFrom Code</th>
                <th>NodeFrom Name</th>
                <th>NodeTo Code</th>
                <th>NodeTo Name</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var rate in _rates)
            {
                <tr>
                    <td>@rate.RateId</td>
                    <td>@rate.StartDate.ToShortDateString()</td>
                    <td>@rate.EndDate.ToShortDateString()</td>
                    <td>@rate.NodeFrom?.LocationNodeCode</td>
                    <td>@rate.NodeFrom?.LocationNodeName</td>
                    <td>@rate.NodeTo?.LocationNodeCode</td>
                    <td>@rate.NodeTo?.LocationNodeName</td>
                    <td>@rate.Value</td>
                </tr>
            }
        </tbody>
    </table>

    @for (int i = 1; i <= 1 + _rateCount / PageSize; i++)
    {
        var pageNumber = i;
        var btnClass = pageNumber == _currentPageNumber
        ? "btn btn-primary"
        : "btn";
        <button class="@btnClass" @onclick="@(e=>PageSelected(pageNumber))">@pageNumber</button>
    }
}
